$time-unit-height: 1em;
.timeline-track {
	position: relative;
	flex: 1;
	overflow-y: auto;
	margin-left: $content-padding;
	padding-right: $content-padding;
	.background {
		counter-reset: hour;
		user-select: none;
		.hour {
			position: relative;
			margin-left: 3em;
			&::before {
				counter-increment: hour;
				content: counter(hour) ":00";
				font-family: $monospaced-font-family;
				position: absolute;
				top: -0.55em;
				right: 100%;
				color: darken($background-color, 12);
			}
			&:first-child {
				&::before {
					display: none;
				}
				.five-minutes:first-child {
					color: transparent;
				}
			}
			.five-minutes {
				position: relative;
				height: $time-unit-height;
				margin-left: 1em;
				box-shadow: 0 1px 0 0 inset;
				color: darken($pane-forground-color, 5);
				&:first-child {
					margin-left: 0.2em;
					color: darken($pane-forground-color, 15);
				}
				&:nth-child(7) {
					margin-left: 0.2em;
					color: darken($pane-forground-color, 10);
				}
			}
		}
	}
	.modal-layer {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		pointer-events: none;
		transition: background 0.2s;
	}
}

@import "item/style";
