@keyframes invalidInput {
	0% {
		transform: translateX(0em);
	}
	20% {
		transform: translateX(-0.2em);
	}
	40% {
		transform: translateX(0.15em);
	}
	60% {
		transform: translateX(-0.1em);
	}
	80% {
		transform: translateX(0.05em);
	}
	100% {
		transform: translateX(0em);
	}
}

.add-task {
	display: flex;
	flex: none;
	background: linear-gradient(transparent, rgba(black, 0.1));
	&.invalid-input-anim-trigger {
		animation: invalidInput 0.5s;
	}
	.task-id {
		max-width: 5.2em;
	}
	.task-name {
		flex: 1;
	}
}
