.timeline-footer {
	display: flex;
	position: relative;
	padding: $content-padding (2 * $content-padding);
	color: $background-color;
	> * {
		height: 1.5em;
	}
	.total-time {
		flex: 1;
	}
	.zoom-icon {
		position: relative;
		top: -0.2em;
		right: 0.1em;
		font-size: 1.5em;
	}
	&::before {
		content: '';
		position: absolute;
		left: 0;
		right: $content-padding;
		bottom: 100%;
		height: 1em;
		z-index: 1;
		background: linear-gradient(transparent, $pane-forground-color);
	}
}
