.timeline.view {
	position: relative;
	flex: 1;
	max-width: 21cm;
	display: flex;
	flex-direction: column;
	.content-pane {
		flex: 1;
		position: relative;
		display: flex;
		flex-direction: column;
		min-height: 0;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: $content-padding;
			height: 1em;
			z-index: 1;
			background: linear-gradient($pane-forground-color, transparent);
		}
	}
}

@import "track/style.scss";
@import "footer/style.scss";
