@keyframes createAnim {
	from {
		transform: translateY(-50%) scale3d(1, 0, 1);
		opacity: 0;
	}
	to {
		transform: translateY(0%) scale3d(1, 1, 1);
		opacity: 1;
	}
}

.timeline-item {
	position: absolute;
	z-index: 0;
	right: 3 * $content-padding;
	left: 5em;
	box-shadow: 0 1px 3px rgba(black, 0.4), 0 0 0 1px rgba(white, 0.15) inset;
	will-change: transform, top, height;
	transition: transform 0.1s, z-index 0s 0.1s, box-shadow 0.1s, top 0.1s, height 0.1s;
	&.new {
		animation: createAnim 0.2s;
	}
	.zooming & {
		transition: none;
		.time,
		.title {
			transition: none;
		}
	}
	&:not(.editing):hover {
		.expand-to-now {
			visibility: visible;
			opacity: 1;
			transform: translateY(-1px);
			transition: opacity 0.2s, transform 0.2s;
		}
	}
	&.only-child {
		cursor: move;
		& > * {
			cursor: move;
		}
	}
	&.resizing {
		.time-handle {
			height: 3 * $time-unit-height;
			&.start {
				top: -$time-unit-height;
			}
			&.end {
				bottom: -$time-unit-height;
			}
		}
		+ .timeline-item .time-handle.start {
			cursor: s-resize; // to avoid cursor flickering between s- and ns-resize
		}
		.duration {
			opacity: 1;
		}
	}
	&.floating.floating {
		z-index: 3;
		opacity: 0.75;
		transition: box-shadow 0.1s;
		box-shadow: 0 3px 8px rgba(black, 0.3);
		cursor: move;
	}
	&.editing {
		overflow: visible;
		z-index: 3;
		~ .modal-layer {
			pointer-events: auto;
			background: rgba(black, 0.6);
		}
		.time.end,
		.time-handle {
			display: none;
		}
		.description {
			position: relative;
			top: 0;
			left: 0;
			margin: $content-padding;
			cursor: text;
			background: rgba(black, 0.05);
			box-shadow: 0 2px 0.5em rgba(black, 0.35) inset, 0 0px 1px black inset;
		}
		.actions button {
			opacity: 1;
			transform: translateX(0);
			margin: 0 0 0.5em;
			width: 1.8em;
		}
	}
	&.duration-15:not(.editing) {
		.description {
			top: 1.3em;
		}
	}
	&.duration-10 {
		.time-handle.end,
		.time.end.end {
			opacity: 0;
		}
		&:not(.editing) .description {
			visibility: hidden;
		}
		.bottom-gradient {
			opacity: 0;
		}
	}
	&.duration-5 {
		.time,
		.title {
			font-size: 0.75em;
			padding: 0 0.2em 0 0.6em;
			top: 0;
		}
	}
	&:nth-last-child(2) {
		// .modal-layer is the last child
		.time.end {
			opacity: 1;
		}
		.time-handle.end {
			box-shadow: none;
		}
	}
	.time,
	.title {
		transition: font-size 0.2s, padding 0.2s;
	}
	$title-height: 1.3em;
	.title {
		height: $title-height;
		line-height: $title-height;
		padding: 0 $content-padding;
		background: rgba(white, 0.08);
		.id {
			font-weight: bold;
			z-index: 2;
			position: relative;
			cursor: pointer;
		}
		&:hover .duration {
			opacity: 0.5;
		}
	}
	.duration {
		opacity: 0;
		font-family: $monospaced-font-family;
		transition: opacity 0.2s;
	}
	.description {
		position: absolute;
		overflow: hidden;
		top: $title-height + $content-padding;
		left: $content-padding;
		right: $content-padding;
		bottom: 0;
		padding: 0.2em $content-padding;
		font-style: italic;
		color: #333;
	}
	.time {
		position: absolute;
		font-family: $monospaced-font-family;
		right: 0.2em;
		&.start {
			top: 0.15em;
		}
		&.end {
			opacity: 0; // Only visible on last timeline-item
			z-index: 3;
			bottom: 0;
			padding: 0 0 0 0.1em;
			border-radius: 0.3em;
			transition: opacity 0.2s;
		}
	}
	.time-handle {
		position: absolute;
		left: 0;
		width: 100%;
		height: 1em;
		max-height: 33%;
		z-index: 2;
		&.start {
			top: 0;
			cursor: ns-resize;
		}
		&.end {
			bottom: 0;
			cursor: s-resize;
		}
		&:hover ~ .title .duration {
			opacity: 0.5;
		}
	}
	.actions {
		position: absolute;
		top: 0;
		right: 100%;
		padding: 0 $content-padding 0.1em;
		font-size: 2em;
		overflow: hidden;
		button {
			transition: transform 0.2s, opacity 0.2s;
			opacity: 0;
			transform: translateX(2.5em);
		}
	}
	.bottom-gradient {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1em;
		max-height: 50%;
		z-index: 1;
		box-shadow: 0 -1px 0 rgba(black, 0.05) inset;
		transition: opacity 0.2s;
	}
	.expand-to-now,
	.now-indicator {
		position: absolute;
		top: 100%;
		right: 0;
		width: 2em;
	}
	.expand-to-now {
		transform: translateY(-100%);
		visibility: hidden;
		opacity: 0;
		margin-right: 0;
		z-index: -1;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		transition: visibility 0s 0.7s, opacity 0.2s 0.5s, transform 0.2s 0.5s;
		&:hover + .now-indicator {
			visibility: visible;
			opacity: 1;
			transform: scaleX(1);
			transition: opacity 0.2s, transform 0.2s, height 0.1s;
		}
	}
	.now-indicator {
		visibility: hidden;
		opacity: 0;
		z-index: -2;
		transform: scaleX(0);
		background: linear-gradient(transparent, rgba(red, 0.25));
		border-bottom: 1px solid rgba(red, 0.75);
		transition: visibility 0s 0.2s, opacity 0.2s, transform 0.2s, height 0.1s;
	}
}
